/* Making all button color orange CSS  */
.customButton {
    text-align: center;
    color: #faa730;
	 font-size: 15px;
}

.center{
     text-align:center;
}
/*Pop up related CSS */

.popup-head {
	
  background-color : #faa730;
  
}
.popup-title {

    color: white;
}
.popup-buttons .button {

    background-color: #faa730;
	color: white;
}
.popup-buttons .button:hover{

    background-color: #faa730;
	color: white;

}
.popup-buttons .button.activated {
	    background-color: #faa730;
	color: white;


}
.popup-body {

   display: inline-block;

}

.col {
	    padding: 0px;
	
}

/* Spinner CSS  */

 ion-spinner * {

  stroke:#faa730;
  fill: white;
  
}
 
.spinner svg {
  width: 19% !important;
  height: 85px !important;
		
}
	div.spinner {
  margin: auto;
  position: absolute;
  top: 250px; left: 0; bottom: 0; right: 0;
  
   text-align: center;
}
	  